/*Bootsrap Style overide*/

.nav-link {
    display: block;
    padding: .5rem 1rem;
    text-align: center;
}

.bg-dark {
    background-color: var(--menu-back-color-level-1) !important;
    border-bottom: 5px solid var(--header-back-color-level-2);
}
.bg-light {
    background-color: var(--header-back-color-level-1) !important;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: stretch;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
    padding: .5rem 1rem;
}

.navbar-nav {
    display: inline; 
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.7rem;
    line-height: inherit;
    white-space: nowrap;
}


.card-header {
    /* font-size:45px; */
}

.navbar-dark .navbar-toggler-icon {
    background-image: url(../img/navbar-toggler-icon.svg);
}

.btn-group-lg > .btn, .btn-xl {
    padding: 2.2rem 1rem;
    line-height: 1.5;
    border-radius: .5rem;
    margin: 1rem;
    width: 10rem;
    height: 10rem;
    background-color: var(--menu-back-color-level-1);
}

    .btn-group-lg > .btn, .btn-xl:hover {
        background-color: var(--header-font-color-level-1);
    }


    .btn-group-lg > .btn, .btn-xl, h6 {
    font-size: 1.2rem;
    color: white;
    font-weight:lighter;
}

.form-header {
    padding: 0.25rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-size: 30px;
}


/*small devicese */
@media (max-width: 576px) {
    .navbar-brand {
        width: 39px;
        overflow: hidden;
    }

    .btn-group-lg > .btn, .btn-xl {
        margin: .5rem;
        width: 18rem;
        height: 10rem;
    }

    .card-header {
        font-size: 40px;
    }

}

@media (min-width: 576px) {
    .navbar-brand {
        width: 40px;
        overflow: hidden;
    }
}

@media (min-width: 768px) {
    .navbar-brand {
        width: 40px;
        overflow: hidden;
    }

}

@media (min-width: 992px) {
    .navbar-brand {
        width: auto;
        overflow: visible;
    }
}

@media (min-width: 1200px) {
    .navbar-brand {
        width: auto;
        overflow: visible;
    }
}


