body {
}

.wrapper {
    /*display: flex;*/
    width: 100%;
    height: 100%;
}

.page-header {
    padding: 0px 0px;
    top: 0px;
    z-index: 1020;
}
.Header-inner {
    float: right;
    width: 50%;
    background-color:aquamarine;
    clear:left;
}

.SiteLogoBack {
    background-color: var(--header-back-color-level-1);
    width: 25%;
    background-color: blueviolet;
}

    .SiteLogoBack img {
        width: 100%;
        position: relative;
    }


.page-header a img {
    height: 40px;
    padding-right: 10px;
}

.form-top-menu {
    margin: 0;
    padding: 0;
    float: left;
    overflow: hidden;
}

    .form-top-menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .form-top-menu li {
        float: right;
    }

        .form-top-menu li a {
            display: block;
            color: white;
            text-align: center;
            padding: 5px 10px;
            text-decoration: none;
            background-color: var(--menu-back-color-level-1);
            height: 35px;
            border-bottom: 3px solid var(--form-border-color);
        }

            .form-top-menu li a:hover {
                background-color: var(--menu-hover-back-color-level-4);
                border-bottom: 3px solid var(--menu-hover-back-color-level-4);
            }





/*Button styles*/
.mobile-button {
    border-radius: 3px;
    border: none;
    text-align: center;
    padding: 10px 15px;
    font-size: 16px;
    min-width: 10%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

    .mobile-button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .mobile-button span:after {
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .mobile-button:hover span {
        padding-right: 25px;
    }

        .mobile-button:hover span:after {
            opacity: 1;
            right: 0;
        }

.mobile-button-primary {
    background-color: var(--button-primary-background-color) !important;
    color: var(--button-primary-text-color);
}

    .mobile-button-primary:hover {
        background-color: var(--button-primary-hover-background-color) !important;
        color: var(--button-primary-hover-text-color) !important;
    }

    .mobile-button-primary span:after {
        content: var(--button-primary-hover-icon);
    }

.mobile-button-success {
    background-color: var(--button-success-background-color) !important;
    color: var(--button-success-text-color);
}

.mobile-button-success:hover {
    background-color: var(--button-success-hover-background-color) !important;
    color: var(--button-success-hover-text-color) !important;
}

.mobile-button-danger {
    background-color: var(--button-danger-background-color) !important;
    color: var(--button-danger-text-color);
}
.mobile-button-back {
    background-color: var(--button-info-background-color) !important;
    color: var(--button-info-text-color);
}
    .mobile-button-back:hover {
        background-color: var(--button-info-hover-background-color) !important;
        color: var(--button-info-hover-text-color) !important;
    }
    .mobile-button-back span:after {
        content: var(--button-info-hover-icon);
    }
    .mobile-button-danger:hover {
        background-color: var(--button-danger-hover-background-color) !important;
        color: var(--button-danger-hover-text-color) !important;
    }

    .mobile-button-danger span:after {
        content: var(--button-danger-hover-icon);
    }

.mobile-button-warning {
    background-color: var(--button-warning-background-color) !important;
    color: var(--button-warning-text-color);
}

    .mobile-button-warning:hover {
        background-color: var(--button-warning-hover-background-color) !important;
        color: var(--button-warning-hover-text-color) !important;
    }

    .mobile-button-warning span:after {
        content: var(--button-warning-hover-icon);
    }

.mobile-button-info {
    background-color: var(--button-info-background-color) !important;
    color: var(--button-info-text-color);
}

    .mobile-button-info:hover {
        background-color: var(--button-info-hover-background-color) !important;
        color: var(--button-info-hover-text-color) !important;
    }

    .mobile-button-info span:after {
        content: var(--button-info-hover-icon);
    }

.mobile-button-light {
    background-color: var(--button-light-background-color) !important;
    color: var(--button-light-text-color);
}

    .mobile-button-light:hover {
        background-color: var(--button-light-hover-background-color) !important;
        color: var(--button-light-hover-text-color) !important;
    }

    .mobile-button-light span:after {
        content: var(--button-light-hover-icon);
    }

.mobile-button-dark {
    background-color: var(--button-dark-background-color) !important;
    color: var(--button-dark-text-color);
}

.mobile-mobile-button-dark:hover {
    background-color: var(--button-dark-hover-background-color) !important;
    color: var(--button-dark-hover-text-color) !important;
}

    .button-dark span:after {
        content: var(--button-dark-hover-icon);
    }

.mobile-button-trans {
    background-color: var(--menu-back-color-level-2);
    color: white;
    border-radius: 50%;
    padding: 5px;
}

    .mobile-button-trans:hover {
        color: var(--button-light-hover-text-color) !important;
    }

    .mobile-button-trans span:after {
        content: var(--button-light-hover-icon);
    }

.mobile-button-primary:disabled {
    background-color: var(--button-primary-disabled-background-color) !important;
    color: var(--button-primary-disabled-text-color) !important;
}


.ToggleButton {
    color: #fff;
    background-color: var(--menu-back-color-level-3);
    border-color: var(--menu-back-color-level-1);
    border-width: 2px 2px 2px 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    padding: 0px 2px;
    position: fixed;
    height: 60px;
    top: calc(50% - 50px);
}

.toggle-handle {
    background-color:white;
}
/*----Button Style End--------*/




/* ---Table STYLE START--- */

table {
    border-collapse: collapse;
    width: 100%;
    background-color: var(--table-back-color);
    font-size: small;
}

th {
    border: 1px solid var(--table-border-color);
    text-align: left;
    background-color: var(--table-header-back-color);
    color: var(--table-header-font-color);
}

td {
    border: 1px solid var(--table-border-color);
    padding-top: 5px;
    padding-bottom: 5px;
}

tr:nth-child(even) {
    background-color: var(--table-row-back-color);
}

tr:nth-child(odd) {
    background-color: var(--table-row-alt-back-color);
}

tr:hover {
    background-color: var(--table-row-hover-font-color);
}

.table-btn-create {
    margin-top: 50px;
    color: var(--table-button-info-text-color);
    border: 2px solid var(--table-button-info-background-color);
    border-radius: .25rem;
    padding: .375rem .75rem;
    background-color: #ffffff;
}

    .table-btn-create:hover {
        color: var(--table-button-info-hover-text-color);
        background-color: var(--table-button-info-background-color);
        border-color: var(--table-button-info-background-color);
    }

.table-btn-edit {
    color: var(--table-button-danger-text-color);
    border: 2px solid var(--table-button-warning-background-color);
    border-radius: .25rem;
    padding: .200rem .75rem;
    background-color: #ffffff;
}

    .table-btn-edit:hover {
        color: var(--table-button-danger-hover-text-color);
        background-color: var(--table-button-warning-background-color);
        border-color: var(--table-button-warning-background-color);
    }

.table-btn-details {
    color: var(--table-button-primary-text-color);
    border: 2px solid var(--table-button-primary-background-color);
    border-radius: .25rem;
    padding: .200rem .75rem;
    background-color: #ffffff;
}

    .table-btn-details:hover {
        color: var(--table-button-primary-hover-text-color);
        background-color: var(--table-button-primary-background-color);
        border-width:1px;
        border-color: var(--table-button-primary-background-color);
    }


    /* ---- TABLE STYLE ENDS-----*/

.flex-info-label-group {
    color: var( --header-back-color-level-1);
    background-color: var(--menu-back-color-level-1);
    border: 0px solid var(--header-font-color-level-1) !important;
    border-radius: 5px;
    margin: 2px;
}

.flex-info-label {
    color: #254B6D;
    background-color: var(--menu-back-color-level-4);
    border: 1px solid var(--header-font-color-level-1) !important;
    border-radius: 10px;
    margin:2px;
}

.flex-info-label-highlighted {
    color: #254B6D;
    background-color: #fffa65;
    border: 1px solid var(--header-font-color-level-1) !important;
    border-radius: 10px;
    margin: 2px;
}

.flex-info-label-button {
    color: #254B6D;
    background-color: var(--menu-back-color-level-4);
    border: 1px solid var(--header-font-color-level-1) !important;
    border-radius: 5px;
    margin: 5px;
    font-size:x-large;
    padding: 15px;
    min-width: 60px;
}

.flex-info-label span, .flex-info-label-highlighted span {
    font-weight: bold;
}

.flex-info-button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    cursor: pointer;
    color: #254B6D;
    background-color: var(--menu-back-color-level-4);
    border: 1px solid var(--header-font-color-level-1) !important;
    margin: 2px;
}

.flex-info-button : hover {
    background-color: var(--menu-back-color-level-4);
    border: 1px solid var(--header-font-color-level-1) !important;
}

.message-label-dager-p {
    color: red;
    font-weight: bold;
}

