<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - User Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


    <link rel="stylesheet" href="~/css/styles-theme-1.css" />

    <link rel="stylesheet" href="~/lib/fontawesome-free-5.15.3-web/css/all.css" />
    @*<link rel="stylesheet" href="~/css/toastr.css" />*@
    <link rel="stylesheet" href="~/css/Menu.css" />
    @*<link rel="stylesheet" href="~/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/css/syncfusion/bootstrap4.css" />
    <link rel="stylesheet" href="~/select2/css/select2-bootstrap.min.css" />*@
    <!-- custom scrollbar stylesheet -->
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="~/bootstrap-toggle/css/bootstrap-toggle.min.css" />
    @*<link rel="stylesheet" href="~/bootstrap-datepicker/css/bootstrap-datepicker.min.css" />*@

</head>
<body>

    <div class="wrapper">
        <div class="left-menu">
            <partial name="_SideMenu.cshtml" />
        </div>

        <section>
            <div id="content">
                <button type="button" id="sidebarCollapse" class="btn ToggleButton">

                    <i class="fas fa-caret-left"></i>

                    <span></span>
                </button>

                <div id="router-content">
                    <partial name="_Header.cshtml" />

                    @RenderBody()

                </div>
            </div>
        </section>
    </div>

    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">UserManagemnt</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@

    @*<div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>*@

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - UserManagemnt - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/fontawesome-free-5.15.3-web/js/all.js"></script>
    @*<script src="~/js/toastr.min.js"></script>
    <script src="~/js/sweetalert.min.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>
    <script src="~/select2/js/select2.js"></script>
    <script src="~/js/ej2.min.js"></script>*@
    <!-- custom scrollbar plugin -->
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.js"></script>
    <@*script src="~/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    <script src="~/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>*@

    <script>

        //Side menu toggle
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar,#content').toggleClass('active');
            $('.collapse.in').toggleClass('in');

            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            var arrodal = $("#content").attr("class");
            if (arrodal === "active")
                $("#sidebarCollapse").html("<i class='fas fa-caret-right'></i>");
            else
                $("#sidebarCollapse").html("<i class='fas fa-caret-left'></i>");
        });

    </script>

    @await RenderSectionAsync("Scripts", required: false)
    @*@await Component.InvokeAsync("NToastNotify")*@
    <ejs-scripts></ejs-scripts>

</body>
</html>
