<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Person Information Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/styles-theme-1.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-5.15.3-web/css/all.css" />
    <link rel="stylesheet" href="~/css/Menu.css" />
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="~/bootstrap-toggle/css/bootstrap-toggle.min.css" />

    


</head>
<body>
    <div class="wrapper">
        <div class="left-menu">
            <partial name="_SideMenu.cshtml" />
        </div>
        <section>
            <div id="content">
                <button type="button" id="sidebarCollapse" class="btn ToggleButton">

                    <i class="fas fa-caret-left"></i>

                    <span></span>
                </button>

                <div id="router-content">
                    <partial name="_Header.cshtml" />

                    @RenderBody()

                </div>
            </div>
        </section>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Person Information Management - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/fontawesome-free-5.15.3-web/js/all.js"></script>


    <!-- custom scrollbar plugin -->
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.js"></script>


    <script>

        //Side menu toggle
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar,#content').toggleClass('active');
            $('.collapse.in').toggleClass('in');

            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            var arrodal = $("#content").attr("class");
            if (arrodal === "active")
                $("#sidebarCollapse").html("<i class='fas fa-caret-right'></i>");
            else
                $("#sidebarCollapse").html("<i class='fas fa-caret-left'></i>");
        });

    </script>

    @await RenderSectionAsync("Scripts", required: false)
    <ejs-scripts></ejs-scripts>

</body>
</html>
