@*
    
*@
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment Environment;
@{
}

<div class="wrapper">

    <div class="SiteLogoBack">
        <img src="~/img/header.svg" width="200px" alt="Logo" class="SiteLogo" />
    </div>

    <!-- Sidebar  -->
        <nav id="sidebar" class="content mCustomScrollbar light" data-mcs-theme="minimal-dark">

            <ul class="list-unstyled components nav-stacked">
                <li class="active">
                    <a href="/Index" aria-expanded="false"><i class="fa fa-home"></i> Home</a>
                </li>

                <li>
                    <a href="#MasterData" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-database"></i> Master Data
                    </a>
                    <ul class="collapse list-unstyled" id="MasterData">

                        <li>
                            <a href="/Admin/Persons/List">
                                <img src="~/img/window-table.svg" />Person
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/Persons/Add">
                                <img src="~/img/window-table.svg" />Create Person
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/img/User.jpg" />Register Admin
                            </a>
                        </li>
                        
                    </ul>
                </li>
            </ul>

        <p class="copyright">© 2023 ITS.<br />All rights reserved.<br /> PIMS - @Environment.EnvironmentName</p>
        </nav>
    

    <script>
        function redirectOnClick() {

            document.location = 'Account/logout';
        }

    </script>

</div>
