@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@* 
*@
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment Environment;
@{
}

<div class="wrapper">

    <div class="SiteLogoBack">
        <img src="~/img/header.svg" width="200px" alt="Logo" class="SiteLogo" />
    </div>

    <!-- Sidebar  -->
        <nav id="sidebar" class="content mCustomScrollbar light" data-mcs-theme="minimal-dark">

            <ul class="list-unstyled components nav-stacked">
                <li class="active">
                    <a href="/Index" aria-expanded="false"><i class="fa fa-home"></i> Home</a>
                </li>

                @if(signInManager.IsSignedIn(User))
                {
                <li>
                    <a href="#MasterData" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-database"></i> Master Data
                    </a>
                    <ul class="collapse list-unstyled" id="MasterData">

                        <li>
                            <a href="/Admin/Persons/List">
                                <img src="~/img/window-table.svg" />Person
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/Persons/Add">
                                <img src="~/img/window-table.svg" />Create Person
                            </a>
                        </li>
                    </ul>
                </li>
                }
                



                @if (signInManager.IsSignedIn(User))
                {
                    <li>
                        <a href="#">
                            <i class="fas fa-user-shield"></i> @User?.Identity?.Name       
                        </a>
                    </li>

                    <li>
                        <a href="/logout">
                            <i class="fa fa-info-circle"></i> Logout
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="/login" >
                            <img src="~/img/User.jpg" />
                             Login
                        </a>
                        <a href="/register" >
                            <img src="~/img/User.jpg" />
                             Register
                        </a>
                    </li>
                }
            </ul>

        <p class="copyright">© 2023 ITS.<br />All rights reserved.<br /> PIMS - @Environment.EnvironmentName</p>
        </nav>
    



</div>
