@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<form>
    <div class="form-content">
        <div class="inner-form">

            <div class="text-center">
                <h1 class="display-4">Welcome to</h1>
                <img src="~/img/header2.svg" width="50%" />
                <p>Person Information Management System.</p>
            </div>

        </div>
    </div>
</form>


